source https://nuget.org/api/v2
source https://vrvis.myget.org/F/aardvark_public/api/v2

nuget Aardvark.Base
nuget Aardvark.Rendering.Interactive
nuget Aardvark.Application 
nuget Aardvark.Application.WPF.GL 
nuget FShade

group Build
content: none
source https://nuget.org/api/v2

github vrvis/Aardvark.Fake:standalone
